.yay-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.yay-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.yay-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.yay-text {
  top: 333px;
  left: 673px;
  color: var(--dl-color-default-cinefyblack);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.yay-group27 {
  top: 233px;
  left: 672px;
  width: 95px;
  height: 95px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 1;
}
.yay-ellipse1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 95px;
  height: 95px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.yay-thumbs-up {
  top: 246px;
  left: 689px;
  width: 63px;
  height: 63px;
  position: absolute;
  align-self: center;
}
