.desktop11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop11-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #353535;
}
.desktop11-frame40 {
  gap: 10px;
  top: 154px;
  left: 535px;
  width: 354px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.desktop11-group38 {
  width: 354px;
  height: 648px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: center;
}
.desktop11-text {
  left: 32px;
  color: rgba(231, 231, 231, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text01 {
  color: var(--dl-color-default-cinefywhite);
}
.desktop11-text02 {
  top: 423px;
  left: 167px;
  color: var(--dl-color-default-cinefywhite);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-group25 {
  top: 488px;
  left: 0px;
  width: 354px;
  height: 81px;
  display: flex;
  opacity: 0.80;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop11-frame3 {
  top: 0px;
  left: 1px;
  width: 353px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 49px;
  background-color: var(--dl-color-default-cinefywhite);
}
.desktop11-frame4 {
  top: 46px;
  left: 0px;
  width: 353px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 49px;
  background-color: var(--dl-color-default-cinefywhite);
}
.desktop11-text04 {
  top: 8px;
  left: 13px;
  color: var(--dl-color-default-cinefygrey);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text06 {
  top: 54px;
  left: 13px;
  color: var(--dl-color-default-cinefygrey);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame22 {
  gap: 10px;
  top: 611px;
  left: 137px;
  display: flex;
  padding: 10px 15px;
  position: absolute;
  align-items: center;
  border-radius: 57px;
  justify-content: center;
  background-color: var(--dl-color-default-cinefyyellow);
}
.desktop11-text08 {
  color: var(--dl-color-default-cinefyblack);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text-google-gray {
  gap: 16px;
  top: 211px;
  left: 55px;
  width: 245px;
  display: flex;
  padding: 14px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(247, 247, 247, 1);
}
.desktop11-google {
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop11-group {
  top: 0px;
  left: 0px;
  width: 19.599998474121094px;
  height: 19.999990463256836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop11-shape {
  top: 8.181830406188965px;
  left: 10px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.desktop11-shape1 {
  top: 11.89999008178711px;
  left: 1.0636392831802368px;
  width: 16px;
  height: 8px;
  position: absolute;
}
.desktop11-shape2 {
  top: 5.509100914001465px;
  left: 0px;
  width: 4px;
  height: 9px;
  position: absolute;
}
.desktop11-shape3 {
  top: -1.1368683772161603e-13px;
  left: 1.0636392831802368px;
  width: 16px;
  height: 8px;
  position: absolute;
}
.desktop11-text10 {
  color: rgba(17, 17, 17, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text-apple-black {
  gap: 16px;
  top: 271px;
  left: 55px;
  width: 245px;
  display: flex;
  padding: 14px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(17, 17, 17, 1);
}
.desktop11-apple {
  width: 20px;
  height: 20px;
}
.desktop11-text12 {
  color: rgba(243, 243, 243, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text-facebook-gray {
  gap: 16px;
  top: 333px;
  left: 55px;
  width: 245px;
  display: flex;
  padding: 14px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(247, 247, 247, 1);
}
.desktop11-facebook {
  width: 20px;
  height: 20px;
}
.desktop11-text14 {
  color: rgba(17, 17, 17, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text16 {
  top: 65px;
  left: 63px;
  color: var(--dl-color-default-cinefywhite);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
